{% extends 'gallery/base_gallery.html' %}
{% load static %}
{% block title %}
Галерея
{% endblock%}
{% block slider %}

<div class="conteiner">
    <div class="slider">
        <div class="slider-line">
            {% for i in slider %}
                <img class="slider_img" src="{{i.media.url}}" alt="qwerty">
            {% endfor %}
        </div>
    </div>
<div class="container_buttoms_slider">
    <img class="slider-next" src="{% static 'gallery/img/slider_arrow.png' %}">
    <img class="slider-back" src="{% static 'gallery/img/slider_arrow2.png' %}">
</div>
</div>
{% endblock %}

{% block gallery %}
{% for i in gallery %}
<div class="image">
    <div class="gallery_img">
        <img class="gallery_img_img" src="{{i.media.url}}" alt="qwerty">
    </div>
</div>
{% endfor %}
{% endblock %}