{% extends 'menu/base_menu.html' %}
{% load static %}
{% block title %}
{{categorym.title}}
{% endblock %}

{% block menu_menu %}
    {% for i in menu %}
        <div>
            <div>
                <div>
                    {% if i.photo %}
                        <a href = "{{ i.get_absolute_url }}"><img src="{{i.photo.url}}" alt=""></a>
                    {% endif %}
                    <div>
                        <h2>{{i.title}}</h2>
                        <p>{{i.categoryM.title}}</p>
                        <p>{{i.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}